[push]
    default = matching

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    co = checkout
    ci = commit -m
    br = branch
    a = add -p
    logg = log --decorate --graph --date=short
    st = status
    poh = push origin head
[init]
    defaultBranch = main
